<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>员工列表</title>
    <!--引入jquery-->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 引入Vue、axios相关 -->
    <script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/axios.min.js}"></script>
    <!-- 引入bootstrap jquery要在这之前引入 -->
    <link th:href="@{/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="container" id="app">
    <!--大标题 员工列表-->
    <div class="row">
        <div class="col-md-12">
            <h1>员工列表</h1>
        </div>
    </div>
    <!--添加、删除按键-->
    <div class="row">
        <div class="col-md-2 col-md-offset-11">
            <button class="btn btn-primary" @click="addEmp()">添加</button>
            <button class="btn btn-danger" @click="deleteEmpBatch()">删除</button>
        </div>
    </div>
    <!--具体员工信息-->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <tr>
                    <th><input type="checkbox" id="check_all" @click="checkAll()"></th>
                    <th>员工号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>邮箱</th>
                    <th>部门名</th>
                    <th>操作</th>
                </tr>
                <tr v-for="emp in pageInfo.list">
                    <td><input type="checkbox" class="check_item" @click="checkItem(emp.empId)"></td>
                    <td>{{emp.empId}}</td>
                    <td>{{emp.empName}}</td>
                    <td v-if="emp.gender=='M'">男</td>
                    <td v-if="emp.gender=='W'">女</td>
                    <td>{{emp.email}}</td>
                    <td v-if="emp.dId==null">暂未分配</td>
                    <td v-if="emp.dId!=null">{{emp.department.deptName}}</td>
                    <td class="col-md-2">
                        <button type="button" class="btn btn-primary btn-sm" @click="editModal(emp.empId)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" @click="deleteEmp(emp.empName)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>删除
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!--分页栏-->
    <div class="row">
        <div class="col-md-6">
            当前第{{pageInfo.pageNum}}页,共有{{pageInfo.pages}}页,总计{{pageInfo.total}}条记录
        </div>
        <div class="col-md-6">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!-- 首页 -->
                    <li v-if="pageInfo.pageNum != 1">
                        <a @click.prevent="getPageInfo(1)" style="cursor:pointer">首页</a>
                    </li>
                    <!-- 如果当前页为首页，则首页按钮不允许点击 -->
                    <li v-else="pageInfo.pageNum == 1" class="disabled"><a>首页</a></li>

                    <!-- 上一页 -->
                    <li v-if="pageInfo.hasPreviousPage">
                        <a @click.prevent="getPageInfo(pageInfo.prePage)" aria-label="Previous" style="cursor:pointer">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <!-- 判断是否存在上一页，不存在则不允许点击上一页按钮 -->
                    <li v-else="!pageInfo.hasPreviousPage" class="disabled">
                        <a aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <!-- 导航栏页码 -->
                    <li v-for="num in pageInfo.navigatepageNums" v-if="pageInfo.pageNum!=num">
                        <a @click.prevent="getPageInfo(num)" style="cursor:pointer">{{num}}</a>
                    </li>
                    <!-- 给导航栏 添加当前页样式为蓝色 -->
                    <li v-else="pageInfo.pageNum==num" class="active">
                        <a @click.prevent="getPageInfo(num)" style="cursor:pointer">{{num}}</a>
                    </li>

                    <!-- 下一页 -->
                    <li v-if="pageInfo.hasNextPage">
                        <a @click.prevent="getPageInfo(pageInfo.nextPage)" aria-label="Next" style="cursor:pointer">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <!-- 判断是否存在下一页，不存在则不允许点击下一页按钮 -->
                    <li v-else="!pageInfo.hasNextPage" class="disabled">
                        <a aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                    <!-- 尾页 -->
                    <li v-if="pageInfo.pageNum != pageInfo.pages">
                        <a @click.prevent="getPageInfo(pageInfo.pages)" style="cursor:pointer">尾页</a>
                    </li>
                    <!-- 如果当前页为尾页，则尾页按钮不允许点击 -->
                    <li v-else="pageInfo.pageNum == pageInfo.pages" class="disabled"><a>尾页</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--添加员工模态框-->
    <div class="modal fade" id="addEmpModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addModalLabel">添加员工</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmpName" class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-10">
                                <input type="text" v-model="emp.empName" class="form-control"
                                       id="inputEmpName" @change="checkName()" placeholder="请输入名字">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">性别</label>
                            <div class="col-sm-10">
                                <label for="inputGenderAdd1" class="radio-inline">
                                    <input type="radio" v-model="emp.gender" name="gender" id="inputGenderAdd1"
                                           value="M" checked="checked">
                                    男
                                </label>
                                <label for="inputGenderAdd2" class="radio-inline">
                                    <input type="radio" v-model="emp.gender" name="gender" id="inputGenderAdd2"
                                           value="W">
                                    女
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-10">
                                <input type="text" v-model="emp.email" class="form-control"
                                       id="inputEmail" placeholder="请输入邮箱">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">部门</label>
                            <div class="col-sm-4">
                                <select class="form-control" v-model="emp.dId">
                                    <option v-for="dept in deptInfo" :value="dept.deptId">{{dept.deptName}}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="emp_save_btn" @click.prevent="saveEmp()">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--编辑员工模态框-->
    <div class="modal fade" id="editEmpModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="editModalLabel">编辑员工</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmpNameEdit" class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-10">
                                <input type="text" v-model="editEmp.empName" class="form-control"
                                       id="inputEmpNameEdit" readonly>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">性别</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" v-model="editEmp.gender" name="gender" id="inputGenderEdit1"
                                           value="M"> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" v-model="editEmp.gender" name="gender" id="inputGenderEdit2"
                                           value="W"> 女
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-10">
                                <input type="text" v-model="editEmp.email" class="form-control"
                                       id="inputEmailEdit">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">部门</label>
                            <div class="col-sm-4">
                                <select class="form-control" v-model="editEmp.dId">
                                    <!-- 将获取到的部门 信息进行双向绑定 -->
                                    <option v-for="dept in deptInfo" :value="dept.deptId"
                                            v-if="editEmp.dId != dept.deptId">
                                        {{dept.deptName}}
                                    </option>
                                    <!-- 将当前正在编辑的用户的部门名设置为默认显示 -->
                                    <option :value="dept.deptId" v-else="editEmp.dId == dept.deptId"
                                            selected="selected">
                                        {{dept.deptName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click.prevent="updateEmp(editEmp.dId)">更新</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!--VUE编写操作-->
<script type="text/javascript">
    window.onload = function () {
        let totalNum;
        let vue = new Vue({
            el: "#app",
            data: {
                pageInfo: {},  // 存放分页查询的员工数据
                deptInfo: {},  // 存放所有部门数据

                // 用于添加用户打包发送给后端
                emp: {
                    empId: null,
                    empName: null,
                    gender: "M",
                    email: null,
                    dId: null
                },
                editEmp: {},// 存放正在编辑的用户信息
            },
            methods: {
                //获得分页信息
                getPageInfo: function (pageNo) {
                    axios({
                        method: "GET",
                        url: "[[@{/employee/page/}]]",
                        // 若采用post请求方式，此处应该用params而非data，
                        // 否则后端无法使用@RequestParam接收
                        // 若使用data，后端应该用@RequestBody获取
                        params: {
                            pageNo: pageNo
                        }
                    }).then(function (res) {
                        // 打印返回数据进行测试
                        // console.log(res);
                        vue.pageInfo = res.data.data.pageInfo
                        totalNum = vue.pageInfo.total
                    })
                },
                // 添加员工
                addEmp: function () {
                    // 清空表单信息
                    // 使用vue双向绑定，无法使用以下语句清空
                    // $('#addEmpModal form')[0].reset()
                    this.emp.empId = null
                    this.emp.empName = null
                    this.emp.email = null
                    this.emp.gender = "M"
                    this.emp.dId = null
                    //清空样式
                    $('#addEmpModal form').find("*").removeClass("has-error has-success");
                    $('#addEmpModal form').find(".help-block").text("");
                    // 获取部门信息
                    this.getDepartments()
                    // 弹出模态框
                    $('#addEmpModal').modal({
                        backdrop: "static" // 点击背景不关闭模态框
                    })
                },
                getDepartments: function () {
                    axios.get("[[@{/department/all/}]]").then(function (res) {
                        // 控制台输出测试
                        // console.log(res)
                        vue.deptInfo = res.data.data.deptInfo
                    })
                },
                // 显示校验结果的提示信息
                show_validate_msg: function (ele, status, msg) {
                    //清除当前元素的校验状态
                    $(ele).parent().removeClass("has-success has-error");
                    $(ele).next("span").text("");
                    if ("success" === status) {
                        $(ele).parent().addClass("has-success");
                        $(ele).next("span").text(msg);
                    } else if ("error" === status) {
                        $(ele).parent().addClass("has-error");
                        $(ele).next("span").text(msg);
                    }
                },
                // 检查员工姓名是否重复
                checkName: function () {
                    axios({
                        url: "[[@{/employee/checkName}]]",
                        params: {
                            empName: vue.emp.empName
                        }
                    }).then(function (res) {
                        if (res.data.code === 100) {
                            // 注意此处不可使用this，此处this指代axios而非vue
                            vue.show_validate_msg("#inputEmpName", "success", "用户名可用");
                            $("#emp_save_btn").attr("ajax-va", "success");
                        } else {
                            vue.show_validate_msg("#inputEmpName", "error", res.data.data.errorMsg);
                            $("#emp_save_btn").attr("ajax-va", "error");
                        }
                    })
                },
                // 校验表单数据是否合法（使用正则表达式）
                validate_add_form: function () {
                    //1、校验姓名
                    let empName = vue.emp.empName
                    let regName = /(^[a-zA-Z0-9_-]{6,16}$)|(^[\u2E80-\u9FFF]{2,5})/;
                    if (!regName.test(empName)) {
                        this.show_validate_msg("#inputEmpName", "error", "用户名必须是2-5位中文或者6-16位英文和数字的组合");
                        return false;
                    } else {
                        this.show_validate_msg("#inputEmpName", "success", "");
                    }

                    //2、校验邮箱
                    let email = vue.emp.email
                    let regEmail = /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/;
                    if (!regEmail.test(email)) {
                        this.show_validate_msg("#inputEmail", "error", "邮箱格式不正确");
                        return false;
                    } else {
                        this.show_validate_msg("#inputEmail", "success", "");
                    }
                    return true;
                },
                // 保存添加的员工
                saveEmp: function () {
                    // 1. 校验表单数据
                    if (!this.validate_add_form()) {
                        return false
                    }
                    //2、校验用户名是否可用
                    if ($("#emp_save_btn").attr("ajax-va") === "error") {
                        return false;
                    }
                    // 3. 发送请求保存数据
                    axios({
                        method: "POST",
                        url: "[[@{/employee}]]",
                        params: this.emp
                    }).then(function (res) {
                        // console.log(res)
                        if (res.data.code === 100) {
                            // alert(res.data.msg)
                            // 关闭模态框
                            $("#addEmpModal").modal('hide')
                            // 通过超过范围的页码跳转到尾页
                            vue.getPageInfo(totalNum + 1)
                        } else {
                            // 显示失败信息
                            if (undefined !== res.data.data.errorFields.email) {
                                //显示邮箱错误信息
                                vue.show_validate_msg("#inputEmail", "error", res.data.data.errorFields.email);
                            }
                            if (undefined !== res.data.data.errorFields.empName) {
                                //显示员工名字的错误信息
                                vue.show_validate_msg("#empName_add_input", "error", res.data.data.errorFields.empName);
                            }
                        }
                    })
                },
                editModal: function (empId) {
                    // 查询员工信息
                    axios.get("[[@{/employee/}]]" + empId).then(function (res) {
                        vue.editEmp = res.data.data.emp
                    })
                    // 获取部门信息
                    this.getDepartments()
                    // 打开编辑模态框
                    $('#editEmpModal').modal({
                        backdrop: "static",
                    })
                },
                updateEmp: function (empId) {
                    // 1、校验邮箱是否合法
                    let email = this.editEmp.email
                    let regEmail = /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/;
                    if (!regEmail.test(email)) {
                        this.show_validate_msg("#inputEmailEdit", "error", "邮箱格式不正确");
                        return false;
                    } else {
                        this.show_validate_msg("#inputEmailEdit", "success", "");
                    }
                    // 2. 发送更新请求
                    axios({
                        method: "PUT",
                        url: "[[@{/employee/}]]" + empId,
                        params: vue.editEmp
                    }).then(function (res) {
                        // alert(res.data.msg);
                        // 关闭模态框
                        $("#editEmpModal").modal('hide');
                        // 跳转到记录所在页面
                        vue.getPageInfo(vue.pageInfo.pageNum);
                    })
                }
            },

            //mounted：在组件被挂载之后调用
            mounted: function () {
                // 获取第一页信息
                this.getPageInfo(1);
            }
        });
    }

</script>
</body>
</html>